# Developer tools
pre-commit>=2.17.0
pip-tools>=6.8.0

# Code linting and styling
flake8>=4.0.1
flake8-docstrings>=1.6.0
isort>=5.10.1
black>=22.6

# Code Typing
mypy>=0.971

# Code Testing
pytest>=7.1.0
tox>=3.25.1

# Deploying
flit>=0.6
